[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[{*.js, *.jsx, *.ts, *.vue}]
ij_typescript_use_double_quotes = false
ij_javascript_use_double_quotes = false
